body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
}

.welcome-page {
  margin: auto;
  width: 500px;
  padding-top: 50px;
  height: 100vh;
  background-color: white;
  padding: 50px;
}

.welcome-page .login {
  display: flex;
  padding-bottom: 10px;
}

.welcome-page .login > div {
  padding-right: 10px;
}

.welcome-page .register {
  display: flex;
  padding-bottom: 10px;
}

.welcome-page .register > div {
  padding-right: 10px;
}

.page {
  display: flex;
  min-height: 100vh;
}

.page .navigation {
  padding: 10px;
  background-color: #064afe;
  background-color: #330a34;
}

.page .navigation .item {
  padding: 6px;
  text-align: center;
  margin-bottom: 5px;
}

.page .navigation .item img {
  width: 26px;
}

.page .main {
  flex-grow: 1;
}

.trash-canvas {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 20px;
}

.trash {
  width: 100%;
  border: 1px dashed #e30544;
  opacity: 0.6;
  height: 60px;
  line-height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box;
}

.trash h4 {
  font-size: 2em;
  margin: 0;
  opacity: 0.3;
}

.board .lane {
  border-right: 0px solid #d1d1d1;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 0px solid #d1d1d1;
  border-left: 0px solid #d1d1d1;
  padding: 0px;
  background-color: white;
}

.board .lane .title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
}

.board .lane .canvas {
  min-height: 60px;
  height: 100%;
  position: relative;
  border-left: 1px solid #d1d1d1;
  border-bottom: 1px solid #d1d1d1;
}

.lane:last-child .canvas {
  border-right: 1px solid #d1d1d1;
}

.spacer {
  text-align: center;
  line-height: 1.6em;
  margin-bottom: 1em;
}

.spacer .dot {
  background-color: var(--spectrum-global-color-gray-300);
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 5px;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.board .lanes {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.board .lane .title {
  background-color: #f9564f;
}

.board .lane .card {
  margin: 6px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.08) 0px 1px 0px,
    rgba(17, 17, 26, 0.15) 0px 0px 6px;
  cursor: move;
  position: relative;
}

.board .lane .card .overdue {
  position: absolute;
  background-color: #e30544;
  width: 6px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.board .lane .card .content {
  padding: 4px 4px 4px 12px;
  border-radius: 6px;
  background-color: white;
}

.board .lane .card .content .edit {
  float: right;
}

.board .lanes .card .content .edit button {
  background: inherit;
  padding: 0;
  border: 0;
}

.board .lane .card .content .name {
  font-size: 1.2em;
  font-weight: 600;
}

.layer {
  border-left: 1px solid grey;
  box-sizing: border-box;
  right: 0;
  position: absolute;
  z-index: 100;
  background-color: white;
  height: 100%;
  width: 450px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  top: 0;
}

.layer .body {
  flex-grow: 1;
  overflow: auto;
}

.setup-funnel {
  padding: 5px;
  background-color: white;
}

.setup-funnel {
  padding: 5px;
  background-color: white;
}

.setup-funnel .add-stage {
  margin-top: 10px;
}

.setup-funnel .lane {
  display: flex;
  padding: 5px 0 5px 0;
}

.setup-funnel .lane .button {
  width: 30px;
  background-color: #d8d8d8;
  position: relative;
  border-radius: 2px;
  border: 1px solid #979797;
}

.setup-funnel .lane .button .drag {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  background-image: url(../public/drag-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-funnel .lane .button .remove {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-image: url(../public/trash-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-funnel .lane .attribute {
  margin-left: 10px;
}

.you-are-offline {
  padding: 10px;
  background-color: #d51b1b;
  color: white;
  font-weight: bold;
  text-align: center;
}

.you-are-offline img {
  vertical-align: middle;
}
