body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.8rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2rem;
}

#root {
  min-height: 100vh;
}

.welcome-page {
  margin: auto;
  width: 550px;
  padding-top: 50px;
  height: 100vh;
  background-color: var(--spectrum-global-color-gray-200);

  padding: 20px;
}

.welcome-page .login {
  display: flex;
  padding-bottom: 10px;
}

.welcome-page .login > div {
  padding-right: 10px;
}

.welcome-page .register {
  display: flex;
  padding-bottom: 10px;
}

.welcome-page .register > div {
  padding-right: 10px;
}

.page {
  display: flex;
  min-height: 100vh;
}

.page .navigation {
  padding: 10px;
  background-color: #064afe;
  background-color: #330a34;
  display: flex;
  flex-direction: column;
}

.page .navigation .item {
  padding: 6px;
  text-align: center;
  margin-bottom: 10px;
}

.page .navigation .item img {
  width: 28px;
}

.page .navigation .user-menu {
  position: relative;
}

.page .navigation .user-menu .wrapper {
  position: absolute;
  padding: 4px;
  top: -105px;
  left: 0px;
  width: 110px;
  background-color: var(--spectrum-global-color-gray-100);
  border: 1px solid var(--spectrum-global-color-gray-400);
  z-index: 1000;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  box-shadow: rgb(17 17 26 / 8%) 0px 1px 0px, rgb(17 17 26 / 15%) 0px 0px 6px;
  animation: fade-in 0.5s;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.page .navigation .user-menu .link {
  opacity: 0.8;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: block;
  text-decoration: none;
  line-height: 38px;
  color: var(--spectrum-global-color-gray-800);
  padding: 2px 10px 2px 40px;
  border-radius: 2px;
}

.page .navigation .user-menu .link:hover {
  background-color: var(--spectrum-global-color-gray-200);
}

.page .navigation .user-menu .link:not(:last-child) {
  margin-bottom: 5px;
}

@media (prefers-color-scheme: dark) {
  .page .navigation .user-menu .wrapper .link.user-settings {
    background-image: url(../public/user-settings-icon-light.svg);
  }
}

@media (prefers-color-scheme: light) {
  .page .navigation .user-menu .wrapper .link.user-settings {
    background-image: url(../public/user-settings-icon.svg);
  }
}

@media (prefers-color-scheme: dark) {
  .page .navigation .user-menu .wrapper .link.logout {
    background-image: url(../public/exit-icon-light.svg);
  }
}

@media (prefers-color-scheme: light) {
  .page .navigation .user-menu .wrapper .link.logout {
    background-image: url(../public/exit-icon.svg);
  }
}

.page .main {
  flex-grow: 1;
  background-color: var(--spectrum-global-color-gray-100);
}

.page .main .canvas {
  padding: 20px;
}

.page .main .canvas .content-box {
  background-color: var(--spectrum-global-color-gray-200);
  padding: 10px;
  margin-bottom: 20px;
}

.page .main .canvas .content-box .list {
  margin-top: 10px;
  border-collapse: collapse;
}

.page .main .canvas .content-box .list tr:first-child {
  background-color: var(--spectrum-global-color-gray-300);
  font-weight: bold;
  color: var(--spectrum-global-color-gray-500);
}

.page .main .canvas .content-box .list td {
  padding: 6px 40px 6px 6px;
  font-size: 1rem;
  color: var(--spectrum-global-color-gray-600);
}

.trash-canvas {
  position: absolute;
  top: 20px;
  width: 200px;
  right: 20px;
}

.trash {
  width: 100%;
  border: 1px dashed var(--spectrum-global-color-gray-600);
  background-color: var(--spectrum-global-color-gray-200);
  opacity: 1;
  height: 60px;
  line-height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  box-sizing: border-box;
}

.trash h4 {
  font-size: 2em;
  margin: 0;
  opacity: 0.3;
}

.trash.drag-over {
  border: 1px dashed var(--spectrum-global-color-static-red-500);
  background-color: var(--spectrum-global-color-gray-200);
}

.board .lane {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0px;
}

.board .lane .title {
  font-size: 1.2em;
  font-weight: bold;
  padding: 5px;
  display: flex;
}

.board .lane .forecast-icon {
  margin-right: 4px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 80%;
  width: 24px;
  opacity: 0.4;
}

.board .lane .canvas {
  min-height: 60px;
  height: 100%;
  position: relative;
  border-left: 1px solid var(--spectrum-global-color-gray-300);
  border-bottom: 1px solid var(--spectrum-global-color-gray-300);
  padding: 0;
  background-color: var(--spectrum-global-color-gray-75);
}

.board .lane .canvas.drag-over {
  background-color: var(--spectrum-global-color-gray-100);
}

.lane:last-child .canvas {
  border-right: 1px solid var(--spectrum-global-color-gray-300);
}

.spacer {
  text-align: center;
  line-height: 1.2em;
}

.spacer .dot {
  background-color: var(--spectrum-global-color-gray-300);
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
}

.board {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 20px;
}

.board .title div:first-child {
  display: flex;
  flex-direction: row;
}

.board .title .filters-canvas {
  padding-top: 25px;
}

.board button.filter {
  font-family: adobe-clean-ux, adobe-clean, Source Sans Pro, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
  border-radius: 6px;
  padding: 5px 10px 5px 10px;
  margin-right: 5px;
  font-weight: 600;
}

.board button.owned-by-me {
  border: 1px solid var(--spectrum-global-color-gray-400);
  color: var(--spectrum-global-color-static-gray-600);
  background-color: var(--spectrum-global-color-gray-200);
}

.board button.owned-by-me-active {
  border: 1px solid var(--spectrum-global-color-gray-600);
  color: white;
  background-color: var(--spectrum-global-color-gray-600);
}

.board button.require-update {
  border: 1px solid var(--spectrum-global-color-static-red-400);
  color: var(--spectrum-global-color-static-red-400);
  background-color: var(--spectrum-global-color-gray-200);
}

.board button.require-update-active {
  border: 1px solid var(--spectrum-global-color-static-red-400);
  color: white;
  background-color: var(--spectrum-global-color-static-red-400);
}

.board .lanes {
  margin-top: 10px;
  display: flex;
  flex-grow: 1;
  position: relative;
}

.board .lane .title {
  background-color: var(--spectrum-global-color-gray-300);
  color: var(--spectrum-global-color-gray-600);
}

.board .lane .title.positive {
  background-color: var(--spectrum-global-color-static-green-400);
  color: var(--spectrum-global-color-static-green-700);
}

.board .lane .title.negative {
  background-color: var(--spectrum-global-color-static-red-500);
  color: var(--spectrum-global-color-static-red-700);
}

.board .lane .sum {
  padding: 5px;
}

.board .lane .sum {
  background-color: var(--spectrum-global-color-gray-300);
  color: var(--spectrum-global-color-gray-600);
}

.board .lane .sum.positive {
  background-color: var(--spectrum-global-color-static-green-400);
  color: var(--spectrum-global-color-static-green-700);
}

.board .lane .sum.negative {
  background-color: var(--spectrum-global-color-static-red-500);
  color: var(--spectrum-global-color-static-red-700);
}

.board .lane .card {
  margin: 6px;
  border-radius: 4px;
  box-shadow: rgba(17, 17, 26, 0.08) 0px 1px 0px,
    rgba(17, 17, 26, 0.15) 0px 0px 6px;
  cursor: move;
  position: relative;
}

.board .lane .card .overdue {
  position: absolute;
  background-color: var(--spectrum-global-color-static-red-400);
  width: 6px;
  height: 100%;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.board .lane .card .content {
  padding: 6px 6px 6px 12px;
  border-radius: 6px;
  background-color: var(--spectrum-global-color-gray-100);
}

.board .lane .card .content.is-dragging {
  background-color: var(--spectrum-global-color-gray-200);
}

.board .lane .card .content .edit {
  float: right;
}

.board .lanes .card .content .edit button {
  background: inherit;
  padding: 0;
  border: 0;
}

.board .lane .card .content .name {
  font-size: 1.4em;
  line-height: 1.4em;
  font-weight: 600;
}

.layer {
  border-left: 1px solid var(--spectrum-global-color-gray-400);
  box-sizing: border-box;
  right: 0;
  position: absolute;
  z-index: 100;
  background-color: var(--spectrum-global-color-gray-100);
  height: 100%;
  width: 450px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  top: 0;
}

.layer .header {
  padding-bottom: 10px;
}

.layer .user-list {
  background-color: var(--spectrum-global-color-gray-200);
}

.avatar {
  border: 1px solid var(--spectrum-global-color-gray-400);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 1.2rem;
  background-color: var(--spectrum-global-color-gray-200);
}

.layer .body {
  flex-grow: 1;
  overflow: auto;
}

.layer .body .attribute {
  margin-top: 10px;
}

.layer .card-events {
  overflow: auto;
  height: 100%;
  position: relative;
}

.layer .card-events .item {
  padding: 10px;
  font-size: 1.2em;
}

.layer .card-events .item .date {
  font-size: 0.9em;
}

.layer .card-events .item .comment {
  display: flex;
  margin-bottom: 5px;
}

.layer .card-events .item .comment .text {
  background-color: var(--spectrum-global-color-gray-300);
  margin-left: 10px;
  padding: 5px 10px;
  border-radius: 2px;
  flex-grow: 1;
  white-space: pre;
}

.setup-funnel {
  background-color: var(--spectrum-global-color-gray-100);
  padding: 10px;
  margin-top: 10px;
}

.setup-funnel .add-stage {
  margin-top: 10px;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.setup-funnel .lane {
  display: flex;
  padding: 5px 0 5px 0;
}

.setup-funnel .lane.is-dragging {
  background-color: var(--spectrum-global-color-gray-300);
}

.setup-funnel .lane .button {
  width: 30px;
  background-color: var(--spectrum-global-color-gray-300);
  position: relative;
  border-radius: 2px;
  border: 1px solid var(--spectrum-global-color-gray-400);
}

.setup-funnel .lane .button .drag {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  background-image: url(../public/drag-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-funnel .lane .button .remove {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-image: url(../public/trash-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-funnel .lane .attribute {
  margin-left: 10px;
}

.you-are-offline {
  padding: 10px;
  background-color: #d51b1b;
  color: white;
  font-weight: bold;
  text-align: center;
}

.you-are-offline img {
  vertical-align: middle;
}

.forecast .filter {
  padding: 20px;
  background-color: var(--spectrum-global-color-gray-200);
  text-align: right;
  display: flex;
}

.forecast .filter > div:nth-child(2) {
  flex-grow: 1;
}

.forecast .canvas .tile .name {
  margin: 0;
  padding: 0;
  color: grey;
  font-weight: normal;
}

.forecast .canvas .tile > div {
  display: flex;
}

.forecast .canvas .tile .metric {
  padding-right: 0px;
}

.forecast .canvas .tile .metric h4 {
  font-size: 2.6rem;
  margin: 0;
  padding: 0;
  line-height: 2.8rem;
  font-weight: normal;
}

.forecast .canvas .tile .metric span {
  font-size: 1.2rem;
  color: grey;
}

@keyframes cursor-blink-animation {
  0% {
    opacity: 1;
  }
  49.999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.hello-title {
  display: flex;
  min-height: 7rem;
}

.hello-title .text {
  font-size: 8rem;
  line-height: 7rem;
  margin: 0;
  padding: 0;
  display: block;
  color: var(--spectrum-global-color-gray-700);
}

.cursor-blink {
  border: 2px solid var(--spectrum-global-color-gray-700);
  animation: cursor-blink-animation 1.5s infinite;
}

.forecast-spacer {
  text-align: center;
  width: 120px;
  margin-top: 15px;
}

.forecast-spacer .dot {
  background-color: var(--spectrum-global-color-gray-300);
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 8px;
}

.setup-card {
  background-color: var(--spectrum-global-color-gray-100);
  padding: 10px;
  margin-top: 10px;
}

.setup-card .item {
  display: flex;
  padding: 5px 0 5px 0;
  flex-direction: row;
}

.setup-card .item.is-dragging {
  background-color: var(--spectrum-global-color-gray-300);
}

.setup-card .item .name {
  margin-left: 10px;
}

.setup-card .item .button {
  width: 30px;
  height: 30px;
  background-color: var(--spectrum-global-color-gray-300);
  position: relative;
  border-radius: 2px;
  border: 1px solid var(--spectrum-global-color-gray-400);
}

.setup-card .item .button .drag {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 80%;
  background-image: url(../public/drag-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-card .item .button .remove {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 60%;
  background-image: url(../public/trash-icon.svg);
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.setup-card .item .placeholder-text {
  border: 1px dashed grey;
  padding: 10px;
  width: 200px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.setup-card .item .placeholder-textarea {
  border: 1px dashed grey;
  padding: 10px;
  width: 200px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.setup-card .item .select {
  border: 1px dashed grey;
  padding: 5px;
  width: 200px;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.setup-card .item .select .option {
  display: flex;
  flex-direction: row;
  position: relative;
}

.setup-card .item .select .option .name {
  flex-grow: 1;
  margin: 0;
}

.setup-card .item .select .option .remove {
  vertical-align: middle;
  line-height: 100%;
  opacity: 0.5;
}

.setup-card .item .select .option .remove img {
  width: 24px;
  padding: 4px;
}

.setup-card .item .select .add img {
  width: 24px;
  opacity: 0.5;
}

.setup-card .add-attribute {
  margin-top: 10px;
  border-top: 1px solid grey;
  padding-top: 10px;
}

.setup-card .add-attribute div:first-child {
  margin-right: 10px;
}

#success-modal {
  position: fixed;
  bottom: -80px;
  width: 100%;
  height: 80px;
  background-color: #28b473;
  color: white;
  transition: transform 0.3s ease-in;
}

#success-modal > div {
  line-height: 80px;
  background-image: url(../public/confirmation-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 600px;
  margin: auto;
  font-size: 1.4em;
  padding-left: 80px;
}

#success-modal.show {
  transform: translateY(-80px); /* Move the div up 100px */
}

#error-modal {
  position: fixed;
  bottom: -80px;
  width: 100%;
  height: 80px;
  background-color: #db2228;
  color: white;
  transition: transform 0.3s ease-in;
}

#error-modal > div {
  line-height: 80px;
  background-image: url(../public/error-icon.svg);
  background-position: left center;
  background-repeat: no-repeat;
  width: 750px;
  margin: auto;
  font-size: 1.3em;
  padding-left: 80px;
}

#error-modal.show {
  transform: translateY(-80px); /* Move the div up 100px */
}

.search .header {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
}

.search .header div:first-child {
  flex-grow: 1;
}
